.column1 {
    width:33%;
    float:left;
}

.column2{
    width:33%;
    float:left;
}

a{
  font-family: 'Montserrat', sans-serif; font-size:xx-large;
  color:ghostwhite;
}

.link:link{
  font-family: 'Montserrat', sans-serif; font-size:xx-large;
  color:ghostwhite;
  border-bottom: 0px solid #000099;
  text-decoration: none;
}
.link:visited{
  font-family: 'Montserrat', sans-serif; font-size:xx-large;
  color:ghostwhite;
  border-bottom: 0px solid #000099;
}

.link:hover{
  font-family: 'Montserrat', sans-serif; font-size:xx-large;
  color:blueviolet; 
  border-bottom: 0px solid #000099;
}

.column3{
    width:33%;
    float:left;
}

.smallbox{
    border-radius: 50px;
    width:95%;
    height:500px;
    background-color:coral;
    padding-top: 2px;
}

.bigbox{
    border-radius: 25px;
    width:95%;
    height:500px;
    background-color:coral;
    overflow:hidden;
}

body{
    background-color:black
}

.smallbox::-webkit-scrollbar{
    display:none
}   

.fade-in {
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
